@{
    ViewData["Title"] = "Reset password Page";
}

@model DataManagmentSystem.Web.Models.Account.ResetPasswordModel;

<div class="row">
    <div class="col-md-4">
        <h4>Create a new account</h4>
        <h5>
            <a asp-controller="Account" asp-action="SignIn">
                If you already know your password you can sign in here
            </a>
        </h5>
        <h5>
            <a asp-controller="Account" asp-action="SignUp">
                If you do not have account you can sign up here
            </a>
        </h5>
        <hr />
        <form method="post" asp-controller="Account" asp-action="ResetPassword">
            <div asp-validation-summary="All" class="text-danger">

            </div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Token"></label>
                <input asp-for="Token" class="form-control" />
                <span asp-validation-for="Token" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-default">Reset password</button>
        </form>
    </div>
</div>